body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(50, 56, 58);
  font-family: Arial, sans-serif;
}

.calculator {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  padding: 20px;
  font-size: 30px;
  border: none;
  text-align: right;
  background-color: #f0f0f0;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 105px);
  gap: 5px;
}

.btn {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.equal {
  grid-column: span 3;
  background-color: #3762a3;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}